body {
    font-family: 'Arial', sans-serif;
    background-color: #D5EDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Arial Black', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 24px;
}

.board {
    display: grid;
    gap: 2px;
}

.tile {
    width: 30px;
    height: 30px;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tile.clicked {
    background-color: #c1c1c1;
    box-shadow: none;
}

.tile.flagged {
    background-image: url('https://img.alicdn.com/imgextra/i1/O1CN011JCO9B23Ug3p5EzB8_!!6000000007259-2-tps-898-898.png');
    background-size: cover;
}

.tile.bomb {
    background-image: url('https://img.alicdn.com/imgextra/i3/O1CN01sMUftH1WAB0m3EG8W_!!6000000002747-2-tps-357-356.png');
    background-size: cover;
}

.tile[data-number="1"] {
    color: #0101FE;
}

.tile[data-number="2"] {
    color: #0A8209;
}

.tile[data-number="3"] {
    color: #e74c3c;
}

.tile[data-number="4"] {
    color: #3498db;
}

.tile[data-number="5"] {
    color: #e67e22;
}

.tile[data-number="6"] {
    color: #2ecc71;
}

.tile[data-number="7"] {
    color: #9b59b6;
}

.tile[data-number="8"] {
    color: #34495e;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 隐藏 New Game 按钮 */
#reset-button {
    display: none;
}

#record-button {
    margin-top: 20px;
    padding: 5px 10px; /* 修改 padding 以减小按钮大小 */
    font-size: 14px; /* 修改 font-size 以减小按钮文字大小 */
    cursor: pointer;
}

@media (max-width: 600px) {
    .tile {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
} else {
    .tile {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.overlay-content h2 {
    margin-bottom: 20px;
}

.overlay-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#record-overlay {
    display: none;
}

#record-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#record-list li {
    margin: 5px 0;
}